<!-- covidapp/templates/covidapp/add_doctor.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un docteur</title>
</head>
<body>
    <h1>Ajouter un docteur</h1>

    <!-- Affiche la notifcation si elle existe -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Doctor form -->
    <form method="post" action="{% url 'add_doctor' %}">
        {% csrf_token %}
        <label for="full_name">Nom complet:</label>
        <input type="text" name="full_name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" required>
        <br>
        <label for="address">Address:</label>
        <input type="text" name="address" required>
        <br>
        <!-- Le createur du compte parmi les manageurs est automatique ajouter -->
        <input type="hidden" name="creator" value="{{ manager.id }}">
        <label for="hospital">Selectionner l'hopital ou travail le docteur:</label>
        <select name="hospital" required>
            {% for hospital in hospitals %}
                <option value="{{ hospital.id }}">{{ hospital.name }}</option>
            {% endfor %}
        </select>
        <!-- Lien vers la page ajouter un hopital -->
        <a href="{% url 'add_hospital' %}">Si l'hopital n'existe pas dans la selection?</a>
        <br>
        <br>
        <input type="submit" value="Ajouter">
    </form>

    <!-- Manager information -->
    <p> Manager connectee: {{ manager.first_name }} {{ manager.last_name }}</p>
    <form method="post" action="{% url 'manager_dashboard' manager_id=manager.id %}">
        {% csrf_token %}
        <input type="submit" name="signout" value="Sign Out">
    </form>

    <!-- Lien vers la page manager_dashboard -->
    <a href="{% url 'manager_dashboard' manager_id=manager.id %}">Rentrer a la page Manager Dashboard</a>
</body>
</html>
