<!-- covidapp/templates/covidapp/add_hospital.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un hopital</title>
</head>
<body>
    <h1>Ajouter un hopital</h1>

    <!-- Form pour ajouter -->
    <form method="post" action="{% url 'add_hospital' %}">
        {% csrf_token %}
        <label for="name">Nom de l'hopital:</label>
        <input type="text" name="name" required>
        <br>
        <label for="address">Address:</label>
        <input type="text" name="address" required>
        <br>
        <input type="submit" value="Ajouter">
    </form>

    <!-- List d'hopitaux -->
    <h2>Liste d'hopitaux</h2>
    <ul>
        {% for hospital in hospitals %}
            <li>{{ hospital.name }} - {{ hospital.address }} (Created by: {{ hospital.creator }})</li>
        {% endfor %}
    </ul>

    <!-- Manager information -->
    <p> Manager connectee: {{ manager.first_name }} {{ manager.last_name }}</p>
    <form method="post" action="{% url 'manager_dashboard' manager_id=manager.id %}">
        {% csrf_token %}
        <input type="submit" name="signout" value="Sign Out">
    </form>

    <!-- Lien vers la page manager_dashboard -->
    <a href="{% url 'manager_dashboard' manager_id=manager.id %}">Rentrer a la page Manager Dashboard</a>
</body>
</html>
