{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultation</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="consultationrootbox">
        <div class="consultationbox">
            <h3>Consultation</h3>

    <!-- Afficher les messages si ils existent -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Formulaire d'ajout -->
    <form method="post" action="{% url 'add_patient' %}">
            {% csrf_token %}
            <!-- Fields cachee -->
            <input type="hidden" name="doctor" value="{{ doctor.id }}">
            <input type="hidden" name="hospital" value="{{ hospital.id }}">
            <div class="fromgroup">
            <label for="full_name">Nom complet:</label>
            <br>
            <input type="text" name="full_name" value="{{ initial_data.full_name }}"  class="appinputfield2" required>
            <br>
            <label for="birth_date">Date de naissance:</label>
            <br>
            <input type="date" name="birth_date" class="appinputfield2" required>
            <br>
            <label for="email">Email:</label>
            <br>
            <input type="email" name="email" value="{{ initial_data.email }}" class="appinputfield2" required>
            <br>
            <label for="phone">Numero de tel:</label>
            <br>
            <input type="tel" name="phone" value="{{ initial_data.phone }}" class="appinputfield2" required>
            <br>
            <label for="address">Address:</label>
            <br>
            <input type="text" name="address" class="appinputfield2" required>
            <br>
            </div>
            <div class="formgroup">
            <label for="symptoms">Symptoms:</label>
            <br>
            <input type="text" name="symptoms" class="appinputfield2 symptomsfield" required>
            <br>
            <label for="medications">Medications:</label>
            <br>
            <input type="text" name="medications" class="appinputfield2" required>
            <br>
            <label for="status">Etat:</label>
            <br>
            <input type="text" name="status" class="appinputfield2" required>
            <br>
            <label for="disease_history">Antecedants medicaux:</label>
            <br>
            <input type="text" name="disease_history" class="appinputfield2" required>
            <br>
            </div>
            <br>
            <input type="submit" value="Terminer" class="connectbutton">
        </form>
        </div>
    </div>
    

    <!-- Link to go back to the doctor_dashboard page -->
    <a href="{% url 'doctor_dashboard' %}">Rentrer a votre dashboard</a>
</body>
</html>
