<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demander une consultation</title>
</head>
<body>
<p> {{ user.full_name }}  naissance : {{ user.birth_date }}, email : {{ user.email }}, tel : {{ user.phone }}</p>

 <form method="post" action="{% url 'ask_consultation' %}">
        {% csrf_token %}
        <input type="hidden" name="full_name" value="{{ user.full_name }}"required>
        <input type="hidden" name="email" value="{{ user.email }}" required>
        <input type="hidden" name="phone" value="{{ user.phone }}"required>
        <br>
        <!-- Chois l'hopital que l'on veut -->
        <label for="hospital">Selectionner un hopital:</label>
        <select name="hospital" required>
            {% for hospital in hospitals %}
                <option value="{{ hospital.id }}">{{ hospital.name }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Demander une consultation">
    </form>
</body>
</html>