{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connexion medecin</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="doctorloginroot">
    <div class="doctorloginelementbox">
        <h1>Medecin</h1>
        <!-- Affiche le message d'error si il existe -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!--Formulaire de connexion -->
        <form method="post" action="{% url 'doctor_login' %}">
            {% csrf_token %}
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" class="appinputfield" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <br>
            <input type="password" name="password" class="appinputfield" required>
            <br>
            <br>
            <input type="submit" value=" Se Connecter" class="connectbutton">
        </form>
    </div>
</div>
</body>
</html>
