<!-- covidapp/templates/covidapp/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the COVID App</h1>

    <!-- Connect as a Doctor button -->
    <a href="{% url 'doctor_login' %}">Connect as a Doctor</a>

    <!-- Connect as a Manager button -->
    <a href="{% url 'manager_login' %}">Connect as a Manager</a>
</body>
</html>
