{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="homerootbox">
        <h1>Bikisa</h1>
        <p class="homepresenttext">L'outil de gestion des cas de la maladie d'Ebola</p>
        <div class="homeconnect">
            <!-- Connecter comme medecin -->
            <a href="{% url 'doctor_login' %}">se connecter en tant que medecin</a>
            <br>
            <!-- Connecter comme manager -->
            <a href="{% url 'manager_login' %}">se connecter en tant que manager</a>
            <br>
            <!-- Connecter comme utilisateur -->
            <a href="{% url 'user_login' %}">se connecter en tant que patient</a>
        </div>
    </div>   
</body>
</html>
