{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager connexion</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="managerloginroot">
        <div class="managerloginelementbox">
            <h1>Manager</h1>
            <!-- Afficher le message d'erreur si il existe -->
            {% if error_message %}
                <p class="messagesmanager">{{ error_message }}</p>
            {% endif %}

            <!-- Formulaire de connexion pour les managers -->
            <form method="post" action="{% url 'manager_login' %}">
            {% csrf_token %}
                <label for="pseudo">Pseudo:</label>
                <br>
                <input type="text" name="pseudo" class="appinputfieldmanager" required>
                <br>
                <br>
                <label for="password">Mot de passe:</label>
                <br>
                <input type="password" name="password" class="appinputfieldmanager" required>
                <br>
                <br>
                <input type="submit" value="Se connecter" class="connectbuttonmanager">
            </form>  
        </div>
    </div>
</body>
</html>

