<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
</head>
<body>
{% block content %}
  <h3>User Dashboard</h3>
  <h3>{{ user.full_name }}!</h3>
  
  <!-- Afficher le message si ils existent -->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- Demander une consultation -->
  <a href="{% url 'ask_consultation' %}" class="btn btn-primary">Demander une consultation</a>
  <br>

  <!-- Se Deconnecter-->
  <form method="post" action="{% url 'user_logout' %}">
    {% csrf_token %}
    <input type="submit" value="Se deconnecter" class="btn btn-danger">
  </form>

  <!-- Historique du medicale du user -->
  <h3>Votre historique medical</h3>
  {% if user_patients %}
    <ul>
      {% for patient in user_patients %}
        <li>
          <strong>Doctor Name:</strong> {{ patient.doctor.full_name }}<br>
          <strong>Symptoms:</strong> {{ patient.symptoms }}<br>
          <strong>Status:</strong> {{ patient.status }}<br>
          <strong>Date:</strong> {{ patient.date }}<br>
          <strong>Medications:</strong> {{ patient.medications }}<br>
          <strong>Hospital:</strong> {{ patient.hospital.name }}<br>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No patient history available.</p>
  {% endif %}
{% endblock %}
</body>
</html>